ai_agent_flow_n8n/ai_pegadaian.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -512,
        0
      ],
      "id": "30dd980e-4ea1-432a-a2b2-3716565129bb",
      "name": "Telegram Trigger",
      "webhookId": "2c16fd71-c6bc-4524-af16-dd6639aa1a08",
      "credentials": {
        "telegramApi": {
          "id": "rAT6keSIwSOB6bUE",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Telegram Trigger').first().json.message.text || $('Telegram Trigger').first().json.message.caption }}",
        "options": {
          "systemMessage": "Anda adalah asisten customer service cerdas untuk layanan gadai (emas & elektronik).\n\n*Peraturan Tanya-Jawab* :\n>> Pertanyaan Pembuka : “apakah ingin menggadaikan emas atau elektronik?” | “apakah kamu ingin menggadaikan emas atau elektronik? atau keduanya?” | “<pertanyaan sejenisnya>”.\n>> Jika user bertanya di luar konteks pegadaian emas dan elektronik, maka jawab “Maaf, kami tidak tahu” | “Maaf, itu bukan ranah kami” | “Maaf, kami perusahaan pegadaian emas dan elektronik, pertanyaan di luar hal tersebut tidak dapat kami jawab” | “<jawaban sejenisnya>”\n>> Jika elektronik : tawarkan “televisi” | “handphone” | “kamera” | “laptop” | <daftar semuanya>, gunakan tools “Electronic_Availability” untuk menampilkan daftar merek yang dapat ditawarkan (jangan sertakan harga).\n>> Jika emas : tawarkan “UBS” | “ANTAM”, gunakan tools “Gold_Prices” untuk menampilkan daftar harga emas hari ini dan gramasinya.\nJika di luar ini maka jawab : “Maaf, harga barang tidak ditemukan” | “kami hanya menerima daftar elektronik tersebut” | “kami hanya menerima emas dengan kedua merek tersebut” | “Kami tidak menerima barang selain emas dan alat elektronik yang ada di daftar kami” | <jawaban sejenisnya>\n>> Jika user bertanya lebih lanjut mengenai harga gadai atau memutuskan barang yang akan digadai, maka cari file “Penentuan harga gadai”.\n\n*Penentuan harga gadai* :\nFile ini berisi perhitungan untuk menentukan harga gadai. Penetapan harga gadai berdasarkan wilayah ini berlaku untuk emas, elektronik, dan gabungan keduanya.\n>> Jangan memberi tahu harga gadai sebelum user memberikan informasi asal provinsi.\n>> Jika user tidak ingin memberi tahu asal provinsi, jawab : “Maaf harga gadai tidak dapat ditentukan sebelum kamu memberikan asal provinsi” | “Maaf kami belum mengetahui asal provinsimu” | “Beritahu kami asal provinsimu untuk mendapatkan harga gadai final” | “<jawaban sejenisnya>”\n>> Format jawaban untuk harga gadai adalah : \nnama barang : ...\njenis barang : “televisi” | “handphone” | “kamera” | “laptop” | “emas” | “<gabungan>”\nJumlah : <jika emas dalam gramasi> | <jika barang elektronik maka satuan>\nharga gadai : Rp.<harga final gadai yang sudah disesuaikan dengan wilayah>\nJika lebih dari satu maka tampilkan daftar barang dengan format 3 parameter di atas untuk setiap barang\n\n*Penetapan harga gadai berdasarkan wilayah : *\n> Jawa barat = 70% × harga_unit\n> DKI Jakarta = 80% × harga_unit\n> Jawa Timur = 60% × harga_unit\n> Wilayah lain = 50% × harga_unit\n\n*Peraturan Pendaftaran Gadai barang* :\n>> Selalu jawab daftar alat elektronik yang bisa di gadai berdasarkan informasi dari tools “Electronic_ Availability”\n>> Jika user sudah memutuskan untuk menggadai barang, berikan form data seperti berikut untuk user isi :\nNama : ..\nJenis barang : “nama barang elektronik sesuai dengan daftar yang ada di `Electronic_Availability`” | “emas” | <gabungan>\nJumlah : “emas dalam gram” | “barang elektronik dalam integer”\nWilayah : “provinsi”\n>> Kembalikan estimasi nilai gadai barang sesuai perhitungan “Penetapan Harga Gadai”\n>> Jika barang elektronik atau jenis emas tidak sesuai dengan yang ada di “Electronic_Availability” dan “Gold_Prices”, jawab “Barang tidak dapat kami terima”\n>> Setelah pendaftaran berhasil, berikan tambahan informasi di bawah pesan untuk user agar mengecek email secara berkala karena akan dikirimkan kode unik ke email untuk verifikasi (gunakan kalimat yang bagus).",
          "maxIterations": 17
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        288,
        16
      ],
      "id": "c55c7223-90f5-447f-97c5-9c8326702587",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a041d3f1-7494-430b-a285-e7dec613f3f9",
              "leftValue": "={{ $json.message.photo }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -160,
        0
      ],
      "id": "ac00d6dc-392c-47c0-b4f5-d3e3315dc050",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.photo[2].file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        64,
        -64
      ],
      "id": "e6c66d2c-39cb-41a3-9bb9-538ae7a881cd",
      "name": "Get a file",
      "webhookId": "5c6a5ff8-3b57-4f1b-9eb7-90a8a4fcb08d",
      "credentials": {
        "telegramApi": {
          "id": "rAT6keSIwSOB6bUE",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "model": "kimi-k2.5:cloud",
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -304,
        352
      ],
      "id": "f1a71f2c-d535-4ce2-b703-507f732f5bcd",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "d2W74zgRMtNmtq5x",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1008,
        16
      ],
      "id": "3505d4c3-0362-4ce9-bcb1-5c53ddf33d71",
      "name": "Send a text message",
      "webhookId": "03890a62-a4be-415c-9d0c-937d67085976",
      "credentials": {
        "telegramApi": {
          "id": "rAT6keSIwSOB6bUE",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "model": "bge-m3:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        -16,
        528
      ],
      "id": "5ef55240-f696-4e5e-82b5-cbd056393dea",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "d2W74zgRMtNmtq5x",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "tableName": "=n8n_chat_histories"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -144,
        352
      ],
      "id": "6d4e0a89-d699-463d-bf26-a5b10ab5cd26",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "MR0wv1rCDQTfNi9l",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d1aa523e-c9b6-4552-8ee8-4d48f75d4bb7",
              "name": "message.chat.id",
              "value": "={{ $json.message.chat.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -336,
        0
      ],
      "id": "ab75fb45-1432-4be7-a4c5-6dbf507e8324",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Gunakan tools ini untuk mencari daftar nama produk / merek produk yang dapat diterima sebagai alat elektronik jaminan.",
        "qdrantCollection": {
          "__rl": true,
          "value": "elektronik_data",
          "mode": "list",
          "cachedResultName": "elektronik_data"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        -16,
        352
      ],
      "id": "e225659f-6512-4dd6-9d99-201b25dfc497",
      "name": "Electronic_Availability",
      "credentials": {
        "qdrantApi": {
          "id": "udLD86nDttD0z083",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Gunakan tools ini untuk mengetahui harga terakhir emas batangan UBS atau Antam beserta gramasinya.",
        "method": "POST",
        "url": "=http://host.docker.internal:2026/scrape",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"url\": [\n    \"https://harga-emas.org/\"\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        272,
        352
      ],
      "id": "133132dd-78d4-43ad-8c6b-4ed5e0ca1955",
      "name": "Gold_Prices"
    },
    {
      "parameters": {
        "model": "qwen3-vl:235b-instruct-cloud",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        688,
        352
      ],
      "id": "da28b067-7c90-4c62-b756-16e7abd78f2b",
      "name": "model auditor",
      "credentials": {
        "ollamaApi": {
          "id": "d2W74zgRMtNmtq5x",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=ID Percakapan : {{ $('Telegram Trigger').item.json.message.from.id }}\nUser Question : {{ $('Telegram Trigger').first().json.message.text || $('Telegram Trigger').first().json.message.caption }} \\n\nAI Assistant  : {{ $json.output }}",
        "options": {
          "systemMessage": "Kamu asisten cerdas yang bertugas mengaudit jawaban AI Assistant sebelum diteruskan ke user.\nTugasmu adalah :\n- Mengaudit jawaban customer service menjadi kalimat yang efektif dan tidak berulang. \n- Merapikan struktur jawaban (bentuk dalam format daftar yang rapi jika menampilkan daftar).\n- Mengecek dari User Question | AI Assistant, apakah data user sudah lengkap untuk didaftarkan.\n- Jika data user yang sudah didaftarkan sudah lengkap, gunakan tools “Record_Order” dengan format data\n{\n  \\\"dataOrder\\\": [\n    {\n      \\\"id_percakapan\"\\: <string>,\n      \\\"nama_customer\\\": \\\"...\\\",\n      \\\"jenis_barang\\\": \\\"televisi\\\" | \\\"handphone\\\" | \\\"kamera\\\" | \\\"laptop\\\" | \\\"emas\\\",\n      \\\"nama_barang\\\": <merek_barang, contoh : emas antam | samsung a25>,\n      \\\"jumlah_barang\\\": <integer>,\n      \\\"wilayah\\\": <string>,\n      \\\"email\"\\: <string>,\n      \\\"estimasi_nilai_barang\\\": <integer>\n    }\n  ]\n}\n\nAturan Wajib : \n- Selalu gunakan tanda \\ di depan tanda \".\n- Jika customer memiliki barang lebih dari satu jenis maka tambahkan elemen dictionary yang sama dalam list dataOrder.\n\nAnda WAJIB mengikuti aturan-aturan ini:\n- JANGAN mengungkapkan penalaran internal, alur pemikiran, atau analisis Anda.\n- Gunakan penalaran internal secara diam-diam.\n- Hanya keluarkan jawaban akhir yang ditujukan untuk pengguna akhir.\n- Jika AI Assistant mengeluarkan jawaban yang aneh atau terindikasi gagal, jawab ke user : \"Maaf, bisakah kamu ulangi pertanyaannya?\" atau sejenisnya.",
          "maxIterations": 17
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        704,
        16
      ],
      "id": "5ecb535b-5931-4b87-803a-e670c5dc544b",
      "name": "Evaluator"
    },
    {
      "parameters": {
        "toolDescription": "Gunakan tools ini jika data pendaftaran user sudah lengkap dengan format input :\n\n{\n  \\\"dataOrder\\\": [\n    {\n      \\\"id_percakapan\"\\: <string>,\n      \\\"nama_customer\\\": \\\"...\\\",\n      \\\"jenis_barang\\\": \\\"televisi\\\" | \\\"handphone\\\" | \\\"kamera\\\" | \\\"laptop\\\" | \\\"emas\\\",\n      \\\"nama_barang\\\": <merek_barang, contoh : emas antam | samsung a25>,\n      \\\"jumlah_barang\\\": <integer>,\n      \\\"wilayah\\\": <string>,\n      \\\"email\\\" : <string>,\n      \\\"estimasi_nilai_barang\\\": <integer>\n    }\n  ]\n}\n\nAturan Wajib : \n- Selalu gunakan tanda \\ di depan tanda \".\n",
        "method": "POST",
        "url": "http://host.docker.internal:2026/order",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "dataOrder",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        960,
        544
      ],
      "id": "47a81a89-a143-4f28-a1c7-05ce09cf73ac",
      "name": "Record_Order"
    },
    {
      "parameters": {
        "toolDescription": "Gunakan tools ini untuk menyimpan data customer ke user",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "Kamu adalah asisten cerdas yang mengubah format data customer menjadi format berikut :\n\n{\n  \\\"dataOrder\\\": [\n    {\n      \\\"id_percakapan\"\\: <string>,\n      \\\"nama_customer\\\": \\\"...\\\",\n      \\\"jenis_barang\\\": \\\"televisi\\\" | \\\"handphone\\\" | \\\"kamera\\\" | \\\"laptop\\\" | \\\"emas\\\",\n      \\\"nama_barang\\\": <merek_barang, contoh : emas antam | samsung a25>,\n      \\\"jumlah_barang\\\": <integer>,\n      \\\"wilayah\\\": <string>,\n      \\\"email\"\\: <string>,\n      \\\"estimasi_nilai_barang\\\": <integer>\n    }\n  ]\n}\n\nAturan Wajib : \n- Selalu gunakan tanda \\ di depan tanda \".\n- Jika datanya sudah ada, gunakan tools \"Record_Order\" dan kirimkan datanya.\n- Pastikan harganya sama dengan yang kamu terima.\n- Pastikan namanya selalu diawali huruf besar untuk setiap suku katanya."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        816,
        352
      ],
      "id": "eea2a3d3-642d-4e65-8936-40bd90868dc3",
      "name": "AI Agent Tool"
    },
    {
      "parameters": {
        "model": "qwen3-vl:235b-instruct-cloud",
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        816,
        544
      ],
      "id": "ce796e9f-f76f-42d9-b4a3-0d84f73b4d08",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "d2W74zgRMtNmtq5x",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "qwen3-vl:235b-instruct-cloud",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        368,
        544
      ],
      "id": "ed738b81-c1f7-4d44-88b2-0d835bd5137a",
      "name": "Ollama Chat Model2",
      "credentials": {
        "ollamaApi": {
          "id": "d2W74zgRMtNmtq5x",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Gunakan tools ini ketika user mengirimkan kode unik untuk verifikasi.",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "Kamu adalah asisten cerdas yang bertugas mengirim kode unik yang dikirimkan oleh user dan mengubahnya menjadi format output berikut :\n\"<kode_unik>\"\n- kode unik ini hanya terdiri dari 6 karakter.\n- Jika kode unik yang diberikan lebih dari 6 karakter maka jawab : \"kode tidak valid karena mengandung 6 karakter\" | <jawaban sejenisnya>\n- Jika kode unik invalid maka jawab : \"Kode tidak ditemukan\" | <jawaban sejenisnya>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        400,
        352
      ],
      "id": "2c1871d6-f969-4b5f-87c5-fe08d38de9c2",
      "name": "Unique_Code_Sender"
    },
    {
      "parameters": {
        "toolDescription": "Gunakan tools ini jika kode unik sudah diperoleh.\n*Catatan* : hanya menerima input berupa kode unik 6 karakter",
        "method": "POST",
        "url": "http://host.docker.internal:2026",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "kode_unik",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `isi dengan kode unik dengan format string`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        576,
        544
      ],
      "id": "0ebcb22a-da1d-4347-970f-390366e33f57",
      "name": "Check_Unique_Code"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Evaluator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Electronic_Availability",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Electronic_Availability": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gold_Prices": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "model auditor": {
      "ai_languageModel": [
        [
          {
            "node": "Evaluator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Evaluator": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record_Order": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Tool",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Tool": {
      "ai_tool": [
        [
          {
            "node": "Evaluator",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Unique_Code_Sender",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Unique_Code_Sender": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Check_Unique_Code": {
      "ai_tool": [
        [
          {
            "node": "Unique_Code_Sender",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c108e829-9e79-4a51-b426-f79a242c7658",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "39535f0986dbf49f3b3ad65af9040c154220fb1f431c7d1e7b9955ee9ab56837"
  },
  "id": "H7G8Q1bDdg8oN2_tRkGol",
  "tags": []
}